* {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
}

body { overflow: hidden;}

canvas { border: none;}

input {

    height: 30px;
    width: 100px;

    text-align: center;

    border: none;
    border-bottom: 1px solid #FFFFFF;

    color: #FFFFFF;
    background-color: transparent;
}

select {
    
    height: 30px;
    width: 100px;

    text-align: center;

    border: none;
    background-color: transparent;

    outline: none;
}

option {

    color: #000000;
}


.btn {

    display: inline-block;

    cursor: pointer;

    min-width:  30px;
    width: auto;
    height: 30px;

    margin-right: 5px;

    background-color: transparent;
    color: #FFFFFF;
}

.btn.b {

    width: auto;
}

.btn.no-gap {
    margin: 0px;
}
.btn.gap-r {

    margin-right: 5px;
}

.btn.play {
    background: url('./assets/images/play.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
}
.btn.pause {
    background: url('./assets/images/pause.svg');
    background-size: 68%;
    background-repeat: no-repeat;
    background-position: center center;
}
.btn.add {
    background: url('./assets/images/plus.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
}

#ui-wrapper {

    position: absolute;

    bottom: 0px;

    width: 100%;
    height: auto;
}



.drag-bar {

    width: 100%;
    height: 15px;

    cursor: pointer;

    user-select: none;
    
}


#axes-menu {

    position: absolute;
    top: 0px;
    left: 0px;
    
    display: flex;
    justify-content: space-between ;
    align-items: center; 
}
 
#axes-menu .axes-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


#axes-menu .axes-item {
}

#axes-menu .axes-item {
}









/* TIMELINE */
